@charset "utf-8";
/* CSS Document */
/* ---------------------------------------------------------------------- */
/*	Reset
/* ---------------------------------------------------------------------- */
	
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	font-family: 'PT Sans', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

dt,dd {display: inline-block;}

a {margin:0; padding:0; font-size:100%;outline: none;text-decoration:none;background:transparent;vertical-align:baseline; text-decoration: none;}
a:hover, a:focus{ outline: none; text-decoration: none;}
a, a > * {color: #847460;text-decoration: none;}
.not-ie a, .not-ie a > * {
-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

ul li {list-style: none;}
.container img {border: 0;height: auto;	max-width: 100%;}
.not-ie .container img {-webkit-transition: all .25s linear;  -moz-transition: all .25s linear;	-ms-transition: all .25s linear; -o-transition: all .25s linear; transition: all .25s linear;}
/* ---------------------------------------------------------------------- */
/*	Basic Elements
/* ---------------------------------------------------------------------- */

body {color: #777; -webkit-font-smoothing: antialiaszed; /* Fix for webkit rendering */-webkit-text-size-adjust: 100%; font-weight: 400; font-size: 14px; font-family: 'PT Sans', sans-serif;}
body { background-color: #fff; color: #8f8e8e;}
p {margin: 0 0 18px 0;	padding: 0;	line-height: 20px;}
h1 {font-size: 36px;}/*not*/
h2 {font-size: 20px;} 
h3 {font-size: 22px;}
h4 {font-size: 18px;} 
h5 {font-size: 16px;}/*not*/
h6 {font-size: 15px;}


h1, h2, h3, h4, h5, h6 {margin-bottom: 15px;color: #36332e;	font-weight: 400;line-height: 1.25;}
blockquote {margin-bottom: 20px !important;	padding: 0 0 5px 15px; border-left: 3px solid #d7d5cf; font-size: 15px; font-style: italic; font-family: 'PT Sans', sans-serif;}
.container blockquote.quoteleft {float: left;}.container blockquote.quoteright {float: right;}
.clear {clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;width: 0;}
/* --------------------------------------------------General-------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 19, 2014 */
@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling_0-webfont.eot');
    src: url('../fonts/big_noodle_titling_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_0-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_0-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_0-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_0-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.home-page{ background: #e83a24;}
.pattern-bg{ background: url(../images/pattern-1.jpg) 0 0 repeat;}

.header{ position: relative; width: 100%; height: 1px;}
.header .language_holder{ position: absolute; top: 25px; left: 25px;}
.language_holder a{ width: 31px; height: 31px; border: 3px solid #e83a24; display: inline-block;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%; 
-webkit-box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,0);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,0);
box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,0);}
.language_holder a.select, .language_holder a:hover{ border-color: #f4a196; 
-webkit-box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,1);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,1);
box-shadow: inset 0px 0px 0px 2px rgba(232,58,36,1);}

.home_cont{ width: 100%;}
.home_cont_wrapper{ width: 100%; max-width: 595px; margin: 0 auto;}
.home_logo{ width: 361px; height: 348px; margin: 45px auto 25px;}
.home_logo img{ width: 100%; display: inline-block;}

.order_btn { margin: 36px 0 26px;}
.order_btn .order_here{ font-family: 'bignoodletitlingregular'; font-size: 40px; line-height: 30px; background: url(../images/btn-bg-1.jpg) 0 0 repeat-x; line-height: 48px; color: #fff; padding: 15px 60px; height: 64px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;}

.home_seacrh{ margin: 0 0 58px;}
.home_seacrh .form-control{ height: 42px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
-webkit-box-shadow: 0px 0px 0px 5px rgba(228,49,0,1);
-moz-box-shadow: 0px 0px 0px 5px rgba(228,49,0,1);
box-shadow: 0px 0px 0px 5px rgba(228,49,0,1);}


.social_list li{ display: inline-block; margin: 0 12px 15px;}
.social_list li i{ width: 30px; height: 30px; background: #000; 
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%
border: 0px solid #000000;}
.social_list li i .fa{ color: #fff; text-align: center; line-height: 30px;}

.feedback_counter{ background: #ed4e24; border: 1px solid #fff; padding: 8px 10px; font-size: 13px; line-height: 16px; color: #fff; position: relative; margin: 0 0 0 13px;
border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;}
.feedback_counter:before{ content:""; background: url(../images/comment-arw.png) 0 0 no-repeat; width: 8px; height: 11px; position: absolute; top: 50%; left: -7px; margin: -5.5px 0 0 0;}

.home_category{ margin: 37px 0;}
.category_listing{ margin: 0; padding: 0; width: 100%;}
.category_listing li{ float: left; width: 20%; background: #fff; height: 120px; padding: 0 1%; border-right: 2px solid #e7e7e7; 
-webkit-box-shadow: 2px 0px 0px 0px rgba(231,231,231,1);
-moz-box-shadow: 2px 0px 0px 0px rgba(231,231,231,1);
box-shadow: 2px 0px 0px 0px rgba(231,231,231,1);}
.category_listing li:last-child{ 
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;}
.category_listing li i{ line-height: 120px; vertical-align: middle; width: 64px; float: left; text-align: center;}
.category_listing li i img{ vertical-align: middle;}
.category_listing li div{ margin: 0 0 0 76px; padding: 35px 0; color: #7b7b7b; font-size: 16px; line-height: 19px;}
.category_listing li a{ color: #222223; font-weight: 700; font-size: 18px; display: block;}

/************** footer *****************/
.site_footer{ background: #2b0500; padding: 30px 0; position: relative; border-top: 1px solid #300b06;}
.site_footer:before{ 
width: 0;
height: 0;
border-style: solid;
border-width: 0 5.5px 6px 5.5px;
border-color: transparent transparent #2b0500 transparent;
content: "";
position: absolute;
top: -6px;
left: 46px;
z-index: 1;
}
.footer-wrapper{ width: 100%; max-width: 1024px; margin: 0 auto;}
.site_footer .footer-title{ font-size: 28px; line-height: 31px; margin: 0 0 14px;}
.site_footer, .site_footer h3, .site_footer p, .site_footer ul li, .site_footer a{ color: #fcfcfc; font-size: 18px; line-height: 22px;}
.footer_link{ margin: 15px 0;}
.site_footer .find_us{ position: absolute; top: -29px; left: 16px;}
.site_footer .find_us a{ background: #e7e7e7; border-bottom: none; padding: 6px 10px; color: #e83a24; font-weight: 700; font-size: 15px; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75);
border-radius: 8px 8px 0px 0px;
-moz-border-radius: 8px 8px 0px 0px;
-webkit-border-radius: 8px 8px 0px 0px;}


/****************** landing page *************************/
.landing_cont_holder{ width: 100%; max-width: 805px; margin: 0 auto; padding: 0 15px;}
.landing_cont_holder p, 
.thankyou-page p{ color: #fff; font-size: 17px; line-height: 20px;}
.contact_form{ padding: 60px 100px 25px 100px; margin: 25px auto 106px;
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 15px solid #fecd08;}
.contact_form .form-control{ background: url(../images/input-bg-1.png) 0 0 repeat-x; border-color: #f2582f; height: 40px; color: #fae281; border-color: #f2582f; 
-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,190,0.19);
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,190,0.19);
box-shadow: 0px 0px 5px 0px rgba(255,255,190,0.19);}
.contact_form .btn{ margin-top: 25px;}
.green_btn{ font-family: 'bignoodletitlingregular'; font-weight: normal; font-size: 38px; line-height: 42px; color: #fff; background: #07a561; height: 60px; padding: 15px 40px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;}
.green_btn:hover{ color: #fff;}
.contact_form .form-control::-webkit-input-placeholder {
   color: #fae281;
}

.contact_form .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fae281;  
}

.contact_form .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fae281;  
}

.contact_form .form-control:-ms-input-placeholder {  
   color: #fae281;  
}
.message{ padding: 15px; color: #333!important; font-size: 14px!important;}

.thankyou_text{ margin: 40px 0;}

/******************* login page *************************/
.pattern-bg-1{ background: url(../images/pattern.png) 0 0 repeat #fff;}
.right_slide_holder{position:fixed;top: 0; right: 0; padding-left: 130px; width: 100%; z-index: 99; height: 100%; overflow: hidden; background: #ea4e25;}
.slide_cont .home_logo{ margin-top: 0; max-width: 220px; height: auto;}
.slide_cont{ min-height: 1000px; overflow: visible; position: relative;}

.btn_container {
	position: relative;
}
.btn_container a{ display: inline-block; position: absolute; z-index: 999;}
#login-btn{ background: url(../images/curve.png) 0 0 no-repeat; width: 144px; height: 271px; left: -144px; top: 180px;}
.slide_icon{ width: 40px; height: 40px; margin: 25px 0 0 0;}
.icon__menu{ text-align: center; margin: 97px 0 0 58px;}
.login-icon{ background: url(../images/login-icon.png) 0 0 no-repeat; margin: 0 auto 10px;}
.slide_text{ font-family: 'bignoodletitlingregular'; font-weight: normal; font-size: 25px; line-height: 30px; color: #fff;}

.panel-body{ background: #f8f8f8;}
.panel-body .btn{ font-family: 'bignoodletitlingregular'; font-weight: normal; font-size: 36px; line-height: 35px; color: #fff; background: #e94223; height: 55px; padding: 15px 40px; border-color: #e94223;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;}
.panel-body .btn:hover{ color: #fff;}
.forgot{ font-size: 15px; color: #afafaf;}
.panel-body label{ color: #afafaf; font-size: 16px;}
.panel-body .form-control{ height: 60px; border-color: #e3e3e3; padding-left: 25px; padding-right: 25px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;}

.btn_container_1{ position: inherit; top: 0;}
.btn_container_1 a{ display: inline-block; position: fixed; z-index: 999;}
.btn_container_1 #login-btn{ background: url(../images/curve-1.png) 0 0 no-repeat; width: 144px; height: 271px; left: inherit; right: 0; top: 180px;}


body{ overflow-x: hidden;}

/* order page */
.left_slide_cont{ margin: 0 125px 0 0; background: url(../images/pattern-old.png) 0 0 repeat;}
.order_now_header{ background: #f8f8f8; padding: 26px 48px 40px;}
.new_header_wrapper{ width: 100%; max-width: 1370px; margin: 0 auto;}
.order-page .header{ height: auto;}
.with_icon_input{ position: relative;}
.with_icon_input .fa{ position: absolute; top: 50%; right: 17px; margin: -7px 0 0 0;}
.order_now_header .form-control{ height: 43px; border-color: #e3e3e3; padding-left: 25px; padding-right: 25px; 
border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
-webkit-box-shadow: inset 10px 10px 7px 0px rgba(0,0,0,0.05);
-moz-box-shadow: inset 10px 10px 7px 0px rgba(0,0,0,0.05);
box-shadow: inset 10px 10px 7px 0px rgba(0,0,0,0.05);}
.with_icon_input .form-control{ padding-right: 40px;}
.search .fa{ color: #626262; font-size: 18px;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);}
.filter .fa{ color: #636363; font-size: 18px; 
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);}
.order_now_header label{ padding: 0 0 0 30px; color: #878787; font-weight: 400; margin: 0 0 5px; font-size: 15px; line-height: 18px;}

.custom-wrapper{ width: 100%; max-width: 1370px; margin: 0 auto;}
.order_listing{ padding: 40px;}
.order_listing ul{ background: #fff; border: 1px solid #e6e6e6;}
.order_listing ul li{ padding: 28px 30px 10px 82px; background: url(../images/order-batch-icon.png) 35px 32px no-repeat; border-bottom: 1px solid #f4f4f4; border-top: 1px solid #f4f4f4;}
.order_single h4, .order_single h4 a, .order_single a{ color: #e83a24; font-weight: 700; font-size: 20px; line-height: 23px; margin: 0 0 8px;}
.order_single p{ font-size: 20px; line-height: 23px; font-weight: 400; color: #636363;}
.order_single p span{ font-weight: 700;}
.order_listing ul li:hover{ background-color: #f4f4f4;}
.orange_text{ color: #e83a24!important;}

.home_social_sectoin.order_page{ margin: 0 0 0 30px;}
.home_social_sectoin.order_page ul li span{ background: #fff; border-color: #e6e6e6; color: #a4a4a4;}
.home_social_sectoin.order_page ul li span.feedback_counter:before{ background: url(../images/comment-arw-1.png) 0 0 no-repeat;}

.logo{ width: 100%; max-width: 360px;}
.logo img{ width: 100%; display: block;}







